body.DTTT_Print {
    background: #fff;

}
.DTTT_Print #page-wrapper {
    margin: 0;
    background:#fff;
}

button.DTTT_button, div.DTTT_button, a.DTTT_button {
    border: 1px solid #e7eaec;
    background: #fff;
    color: #676a6c;
    box-shadow: none;
    padding: 6px 8px;
}
button.DTTT_button:hover, div.DTTT_button:hover, a.DTTT_button:hover {
    border: 1px solid #d2d2d2;
    background: #fff;
    color: #676a6c;
    box-shadow: none;
    padding: 6px 8px;
}

.dataTables_filter label {
    margin-right: 5px;

}
    